.heroSection {
  position: relative;
  height: 100vh;
  background-image: url("/images/home-banner.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding-left: 64px;
  color: #fff;
}

.heroContent {
  max-width: 500px;
}

.heroContent h1 {
  font-family: "Inter", sans-serif !important;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.25;
  margin: 0 0 16px 0;
  white-space: nowrap;
}

.heroContent h2 {
  font-family: "Inter", sans-serif !important;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.33;
  margin: 0 0 32px 0;
}
