@import 'modern-css-reset';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #ffffff;
  color: #111111;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter', sans-serif !important;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding-left: 64px;
  padding-right: 64px;
  margin-left: auto;
  margin-right: auto;
}